{% extends 'base_Teacher.html' %}
{% block content %}
     <div class="col-md-12 col-md-offset-0">

		<div class="row">

			<div class="col-md-10 col-md-offset-0">

				<div class="panel panel-default" style="align-left">
				
					<br>

					<p1> Founded in 1993, Omaha Public School is a rapidly expanding educational organization across the state. Our enrollments keep on increasing every year.We can profoundly speak on the achivements of your students, dedicated staff and responsible parents</p1>
					<br><br>
					<h5> Mission </h5> <br>
					<p1> Provide a comprehensive learning environment which encourages each student to reach their full learning potential. We work collebratively with parents and teachers in empowering the young ones to become bright students and responsible citizens</p1>
					<br><br>
					<h5> Principal </h5> 
					<p1> Tom Mick </p1>
					<br><br>
					<h5> Address </h5> 
					<p1> Omaha Public School <br> 3902S 170th <br> Omaha <br> NE-67890 </p1>
					
				</div>
			</div>
                 
        </div>
		
      </div>

{% endblock %}