{% extends 'base.html' %}
{% block content %}

<a href="{{ img1 }}"><img src="{{ img1 }}"></a>
<a href="{{ img2 }}"><img src="{{ img2 }}"></a>
<a href="{{ img3 }}"><img src="{{ img3 }}"></a>
<a href="{{ img4 }}"><img src="{{ img4 }}"></a>
<a href="{{ img5 }}"><img src="{{ img5 }}"></a>
<a href="{{ img6 }}"><img src="{{ img6 }}"></a>
<a href="{{ img7 }}"><img src="{{ img7 }}"></a>
<a href="{{ img8 }}"><img src="{{ img8 }}"></a>
<a href="{{ img9 }}"><img src="{{ img9 }}"></a>
<a href="{{ img10 }}"><img src="{{ img10 }}"></a>
<a href="{{ img11 }}"><img src="{{ img11 }}"></a>



{% endblock %}