{% extends 'base_Student.html' %}
{% block content %}

        <div>
	
		<br>
        
                <h3> <b>Welcome {{ student.name}} !!! </b></h3>
				
				<br>
				
				<h3> <b>{{ course.course_name}} </b></h3>
				
				<br>
				
				<div class="col-md-10 col-md-offset-0" >
				<table width='100%'>
				<tr>
					<td>
						<h3> <input type=button style="background-color:#647095;color:white" onClick="location.href='{% url 'studentcattendance' pk=course.pk %}'" value=' Attendance'></h3>
						<h3> <input type=button style="background-color:#647095;color:white" onClick="location.href='{% url 'studentcschedule' pk=course.pk %}'" value='  Schedule  '></h3>
						<h3> <input type=button style="background-color:#647095;color:white" onClick="location.href='{% url 'studentcsyllabus' pk=course.pk %}'" value='  Syllabus   '></h3>
						<h3> <input type=button style="background-color:#647095;color:white" onClick="location.href='{% url 'studentcmarks' pk=course.pk %}'" value='  Grades     '></h3>
						<h3> <input type=button style="background-color:#647095;color:white" onClick="location.href='{% url 'studentcexams' pk=course.pk %}'" value='  Exams      '></h3>						
					</td>
					<td>
						<h3> <b> Course Schedule </b></h3>
						<h3> {{ course.schedule}} </h3>	
<h3> <b><a href="/student/home"> Back</a> </b></h3>					
					</td>
				</tr>
				</table>
				</div>

				
				

           
  
    </div>
{% endblock %}