{% extends 'base_Student.html' %}
{% block content %}

        <div>
	
		<br>
        

				<div class="col-md-10 col-md-offset-0" >				
                
				<h3> <b>Welcome {{ student.name}} !!! </b></h3><br>
				
				<table width='100%'>
					<tr>
						<td><h3><b> Name </b></h3></td>
						<td> <h3>{{student.name}}</h3> </td>
					</tr>
					<tr></tr>
					<tr>
						<td><h3><b> Address </b></h3></td>
						<td> <h3>{{student.address}}</h3> </td>
					</tr>
					<tr></tr>
					<tr>
						<td><h3><b> City </b></h3></td>
						<td> <h3>{{student.city}}</h3> </td>
					</tr>
					<tr></tr>
					<tr>
						<td><h3><b> State </b></h3></td>
						<td> <h3>{{student.state}}</h3> </td>
					</tr>
					<tr></tr>
					<tr>
						<td><h3><b> Zipcode </b></h3></td>
						<td> <h3>{{student.zipcode}}</h3> </td>
					</tr>
					<tr></tr>					
					<tr>
						<td><h3><b> Email </b></h3></td>
						<td> <h3>{{student.email}}</h3> </td>
					</tr>
					<tr></tr>
					<tr>
						<td><h3><b> Mobile Phone </b></h3></td>
						<td> <h3>{{student.cell_phone}}</h3> </td>
					</tr>
					<tr></tr>
					<tr>
						<td><h3><b> Class Grade </b></h3></td>
						<td> <h3>{{student.class_grade}}</h3> </td>
					</tr>							
				</table>
				<br>
				<h3> <input type=button style="background-color:#647095;color:white" onClick="location.href='{% url 'editstuprofile' %}'" value=' Edit '></h3><br>
				<h3> <b><a href="/student/home"> Back</a> </b></h3>	
				
				
				
				</div>
				

           
  
    </div>
{% endblock %}